@model List<Ticket>

@foreach (Ticket ticket in Model)
{
    <p>@ticket.User.UserName</p>
    <p>@ticket.User.FirstName @ticket.User.LastName</p>
    <p>@ticket.Event.Name</p>
    <p>@ticket.Event.EventDate.ToString("dd/MM/yyyy")</p>
    <p>
        <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
        <form asp-action="Delete" asp-route-id="@ticket.Id">
            <button type="submit">Delete ticket</button>
        </form>
    </p>
}